<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.samramez.wayshopperx" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iclauncher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShoppingList"
            android:label="@string/title_activity_shopping_list" >
        </activity>
        <activity
            android:name=".StoreWayFinder"
            android:label="@string/title_activity_store_way_finder" >
        </activity>
        <activity
            android:name=".ItemWayFinder"
            android:label="@string/title_activity_item_way_finder" >
        </activity>
        <activity
            android:name=".ChooseList"
            android:label="@string/title_activity_choose_list" >
        </activity>
        <activity
            android:name=".ShoppingListFromStore"
            android:label="@string/title_activity_shopping_list_from_store" >
        </activity>
    </application>

</manifest>
